.mainDiv > .cardDiv {
  margin: auto;
  width: 80%;
}
.cardDiv {
  width: 340px;
  height: 370px;
}
.CardActions {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}
